<%= form_for @reservation do |f| %>

  <% if @reservation.errors.any? %>

    <div id="error_explanation">
      <p>
        <%= pluralize(@reservation.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><center><%= msg %></li>
      <% end %>
    </div>

  <% end %>

  <p>
    <strong><%= f.label :first_name_one %><br></strong>
    <%= f.text_field :first_name_one %>
  </p>

  <p>
    <strong><%= f.label :first_name_two %><br></strong>
    <%= f.text_field :first_name_two %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
