<center>

<h1>ALL THE RESERVATIONS</h1>

<table>

  <tr>
    <th>First Name One</th>
    <th>First Name Two</th>
    <th>Specialness</th>
  </tr>

  <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.first_name_one %></td>
      <td><%= reservation.first_name_two %></td>
      <td><%= reservation.specialness %></td>
      <td><%= link_to 'Show', reservation_path(reservation) %></td>
    </tr>

  <% end %>

</table>

<%= link_to 'BACK TO RESERVATIONS', new_reservation_path %>
